.InputContainer{
    text-align: center;
    margin: 20px;
}

.InputBar{
    margin-right: 10px;
    width: 30%;
}

.InputBtn{
background-color: #CF4327;
color: white;
font-weight: bolder;
border: none;
border-radius: 5px;
padding: 5px;
}

.InputBtn:focus {
    outline: none;
}