.FooterContainer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 50px;
        background-color: white;

}

@media screen and (max-width: 415px) {

     .FooterContainer p { 
             margin: 0;
     }


    }